For example


DCMS_DEMO
    |-- DCMS_DEMO.config
    |-- DCMS_DEMO.html
    |-- de_top
    |   |-- Block_DV
    |   |   |-- Block_DV.config
    |   |   |-- Block_DV.html
    |   |   |-- rev1
    |   |   |   |-- rev1.config
    |   |   |   `-- rev1.html


cat DCMS_DEMO.config(by linux commad)

blk3 : 0% : 0%
blk1 : 0.68% : 0.99%
blk2 : 0.00% : 0.00%
OVERALL_STATUS=0.23%
PARTIAL_STATUS=0.33%

Final output should as follows:


test : 0% : 0%
de_top : 0.68% : 0.99%
new_block2 : 0.00% : 0.00%
OVERALL_STATUS=0.23%
PARTIAL_STATUS=0.33%


Cat mapfile.txt

PROJECT:DCMS_DEMO:prj1
BLOCK:de_top:blk1
BLOCK:new_block2:blk2
BLOCK:test:blk3
CHECKLIST:Block_DV:checklist1
CHECKLIST:Block_Physical_design_checklist:checklist2
CHECKLIST:CAD_checklist:checklist3
